@import "../variables";

.work-content {
	$transition: all 200ms;
	.portfolio-item {
		cursor: pointer;
		position: relative;
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		border: 2px solid $mediumGray;
		transition: $transition;

		img, .hover-info {
			transition: $transition;
		}
		.hover-info {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba($black, 0.75);
			opacity: 0.0;
			
			&:before, &:after {
				content: " ";
				display: inline-block;
				height: 100%;
				width: 1%;
				vertical-align: middle;
			}
			.inner {
				display: inline-block;
				width: 96%;
				vertical-align: middle;
			}
		}
		.more-info-button {
			display: inline-block;
			padding: 10px 20px;
			margin-top: 20px;
			font-size: 18px;
			line-height: 1.0;
			font-weight: 300;
			letter-spacing: 1.0px;
			text-transform: uppercase;
			background-color: $orange;
		}

		&:hover, &:focus {
			img {
				-webkit-filter: blur(4px);
				filter: blur(4px);
			}
			.hover-info {
				opacity: 1.0;
			}
		}
		&.bancvue {
			&:hover, &:focus {
				border-color: $purple;
			}
			.more-info-button {
				background-color: $purple;
			}
		}
		&.personal {
			&:hover, &:focus {
				border-color: $red;
			}
			.more-info-button {
				background-color: $red;
			}
		}
		&.freelance {
			&:hover, &:focus {
				border-color: $orange;
			}
			.more-info-button {
				background-color: $orange;
			}
		}
	}
}

.item-details-popup {
	text-align: center;
	img {
		max-width: 100%;
	}
}

.item-details-inner {
	padding: 0 15px;

	h3 {
		font-size: 18px;
	}

	p {
		font-size: 18px;
		line-height: 1.6;
	}

	.item-external-link {
		display: inline-block;
		padding: 15px 30px;
		margin: 15px auto 20px;
		color: $white;
		font-size: 18px;
		line-height: 1.0;
		font-weight: 300;
		letter-spacing: 1.0px;
		text-transform: uppercase;
		background-color: $orange;
		&:hover, &:focus {
			color: $white;
			text-decoration: none;
		}
	}

	.top {
		padding: 5px 15px 10px;
		margin: 0 -15px 20px;
	}

	&.bancvue {
		.item-external-link {
			background-color: darken($purple, 10%);
			&:hover, &:focus {
				background-color: $purple;
			}
		}
		.top {
			background: darken($purple, 10%);
		}
	}
	&.personal {
		.item-external-link {
			background-color: darken($red, 1%);
			&:hover, &:focus {
				background-color: lighten($red, 9%);
			}
		}
		.top {
			background: darken($red, 1%);
		}
	}
	&.freelance {
		.item-external-link {
			background-color: darken($orange, 3%);
			&:hover, &:focus {
				background-color: lighten($orange, 7%);
			}
		}
		.top {
			background: darken($orange, 3%);
		}
	}
}

@media (min-width: $md-breakpoint) {
	.item-details-popup {
		padding-left: 400px;
		min-height: 400px;

		img {
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	.item-details-inner {
		text-align: left;
		padding-left: 25px;
		.top {
			padding-left: 25px;
			margin-left: -25px;
		}
	}
}

@media (min-width: $lg-breakpoint) {
	.item-details-inner {
		h2 {
			font-size: 36px;
		}

		p {
			line-height: 1.8;
		}
	}
}