<div class="about-content container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1">

			<!-- name and photo -->
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-0">
					<img class="img-rounded full-width no-select" src="/assets/images/chris-headshot.jpg" alt="Chris Johnson" />
				</div>
				<div class="col-xs-12 col-sm-9">
					<h2>Chris Johnson</h2>
					<h3>Interactive Front-End Developer</h3>
				</div>
			</div>

			<!-- intro text -->
			<div class="row bg-dark-gray space-above space-below">
				<div class="col-xs-12">
					<p class="large-text light-weight slight-spacing">I&rsquo;m a programmer with senior skills in interactive and front-end web development. My interests also include design and UX, so I try to expand those skills and put them them to use whenever I can. At work I&rsquo;m most passionate when discussing issues related to improving the user experience. Nights and weekends you can find me spending time with my family, experimenting with new coding techniques, and playing video games.</p>
				</div>
			</div>

			<!-- extra info widget -->
			<!-- TODO: implement <div class="row">
				<div class="col-xs-1">
					<a class="btn btn-lg glyphicon glyphicon-chevron-left"></a>
				</div>
				<div class="col-xs-10">
					<h4>Additional Information</h4>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Panel Title</h3>
						</div>
						<div class="panel-body">
							<p>Panel content</p>
						</div>
					</div>
				</div>
				<div class="col-xs-1">
					<a class="btn btn-lg glyphicon glyphicon-chevron-right"></a>
				</div>
			</div>-->

			<!-- next section -->
			<div class="row space-above">
				<div class="col-xs-12">
					<p class="cta-text pull-right">
						Ready to see more? Check out my 
						<a class="btn btn-primary btn-lg pull-right" href="#/work" ng-click="scrollToBanner()">Work</a>
					</p>
				</div>
			</div>

		</div>
	</div>
</div>