<div class="skills-content container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1">

			<!-- skill listings from data on $scope.skilLSections -->
			<div class="row space-below" ng-repeat="section in skillSections">
				<div class="col-xs-12">
					<h2 ng-bind="section.name"></h2>
				</div>
				<div class="col-xs-12" ng-repeat="skill in section.skills">
					<div class="skill-row row" ng-class="{'bg-dark-gray': $even}">
						<div class="col-xs-8">
							<p class="skill-name" ng-bind="skill.name"></p>
						</div>
						<div class="col-xs-4">
							<cj-star-rating class="skill-rating" rating="{{skill.rating}}" selected-color="#FCCD21" unselected-color="#CCCCCC" star-asset-src="/assets/images/rating-star.svg"></cj-star-rating>
						</div>
					</div>
				</div>
			</div>

			<!-- next section -->
			<div class="row space-above">
				<div class="col-xs-12">
					<p class="cta-text pull-right">
						It&rsquo;s time to pick up that phone: 
						<a class="btn btn-primary btn-lg pull-right" href="#/contact">Contact</a>
					</p>
				</div>
			</div>

		</div>
	</div>
</div>