<div class="work-content container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1">

			<!-- project list -->
			<div class="row">
				<div class="col-sm-6 space-below" ng-repeat="item in portfolioItems">
					<div class="portfolio-item {{item.category}} text-center">
						<img class="full-width" ng-src="{{item.thumbnailImage}}" />
						<div class="hover-info text-center">
							<div class="inner">
								<h2 class="bold-weight add-spacing" ng-bind="item.name"></h2>
								<h3 class="light-weight" ng-bind="item.shortDescription"></h3>
								<span class="more-info-button">More Info</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- details popup -->
			<!-- TODO: implement -->

			<!-- next section -->
			<div class="row space-above">
				<div class="col-xs-12">
					<p class="cta-text pull-right">
						Yeah, but does he know RubyScript 3.NET++? 
						<a class="btn btn-primary btn-lg pull-right" href="#/skills">Skills</a>
					</p>
				</div>
			</div>

		</div>
	</div>
</div>