<div class="work-content container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1">

			<!-- project list -->
			<div class="row">
				<div class="col-sm-6 space-below" ng-repeat="item in portfolioItems">
					<div class="portfolio-item {{item.category}} text-center no-select" ng-click="showItemDetails(item)">
						<img class="full-width" ng-src="{{item.thumbnailImage}}" />
						<div class="hover-info text-center">
							<div class="inner">
								<h2 class="bold-weight add-spacing" ng-bind="item.name"></h2>
								<h3 class="light-weight" ng-bind="item.shortDescription"></h3>
								<span class="more-info-button">More Info</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- next section -->
			<div class="row space-above">
				<div class="col-xs-12">
					<p class="cta-text pull-right">
						Yeah, but does he know RubyScript 3.NET++? 
						<a class="btn btn-primary btn-lg pull-right" href="#/skills">Skills</a>
					</p>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- details lightbox -->
<div ng-show="showItemDetailsPopup">
	<div class="lightbox-background" ng-click="closeItemDetails()"></div>
	<div class="lightbox-container">
		<div class="lightbox-content item-details-popup bg-black">

			<img ng-src="{{selectedItem.thumbnailImage}}" />

			<div class="item-details-inner {{selectedItem.category}}">
				<div class="top">
					<h2 class="bold-weight add-spacing" ng-bind="selectedItem.name"></h2>
					<h3 class="light-weight" ng-bind="selectedItem.tech"></h3>
				</div>
				<p ng-bind="selectedItem.description"></p>
				<a class="item-external-link" ng-href="{{selectedItem.link}}" target="_blank" ng-bind="selectedItem.linkText"></a>
			</div>

			<div class="lightbox-close-button" ng-click="closeItemDetails()">&times;</div>
		</div>
	</div>
</div>