<div class="work-content container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1">
			<!-- filter selectors -->
			<div class="row">
				<div class="col-xs-12">
					<h1 class="bold-weight">Uh oh...</h1>
					<p class="large-text">It looks like I haven&rsquo;t gotten around to coding this yet. Come back soon to see samples of my other work.</p>
					<p class="large-text">(Seriously, it&rsquo;ll be here in just a day or two. I promise.)</p>
				</div>
			</div>

			<!-- filter selectors -->
			<!-- TODO: implement -->

			<!-- project list -->
			<!-- TODO: implement -->

			<!-- next section -->
			<div class="row space-above">
				<div class="col-xs-12">
					<p class="cta-text pull-right">
						Yeah, but does he know RubyScript 3.NET++? 
						<a class="btn btn-primary btn-lg pull-right" href="#/skills">Skills</a>
					</p>
				</div>
			</div>

		</div>
	</div>
</div>