@import "variables";

// Fonts
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Wire+One|Oswald:400,300,700&subset=latin,latin-ext);

// General layout/colors
html {
	height: 100%;
}

body {
	padding-bottom: 50px;
	color: $white;
	background: $black;
	font-family: $lato;
}

// Colors
.bg-dark-gray {
	background-color: $darkGray;
}

// Misc
.full-width {
	width: 100%;
}

.space-above {
	margin-top: 50px;
}

.space-below {
	margin-bottom: 50px;
}