@import "variables";

// Fonts
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Wire+One|Oswald:400,300,700&subset=latin,latin-ext);

// General layout/colors
html {
	height: 100%;
}

body {
	padding-bottom: 50px;
	color: $white;
	background: $black;
	font-family: $lato;
}

*::selection {
	background: $orange;
	background: rgba($orange, 0.75);
}
*::-moz-selection {
	background: $orange;
	background: rgba($orange, 0.75);
}

// Colors
.bg-black {
	background-color: $black;
}
.bg-dark-gray {
	background-color: $darkGray;
}

// Misc
.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.full-width {
	width: 100%;
}

.space-above {
	margin-top: 50px;
}

.space-below {
	margin-bottom: 50px;
}