//NOTE: This should contain only variables. Importing this file should not generate any CSS by itself.

//colors
$trueWhite: #FFFFFF;
$white: #F2F2F2;
$lightGray: #CCCCCC;
$mediumGray: #454545;
$darkGray: #303030;
$black: #1A1A1A;
$trueBlack: #000000;

$purple: #853BBD;
$blue: #1C7CBC;
$green: #009245;
$red: #C7282F;
$orange: #F7931E;
$yellowOrange: #FCCD21;

$aboutColor: $purple;
$workColor: $blue;
$skillsColor: $green;
$contactColor: $red;

//type
$lato: 'Lato', Helvetica, sans-serif;

$thin: 100;
$light: 300;
$normal: 400;
$bold: 700;
$ultraBold: 900;